<!-- Commands
ng g m modulename --route modulename --module app.module   //for lazy loading create -->
<!-- <app-login></app-login> -->
<!-- <app-directives></app-directives> -->
<!-- <app-databind></app-databind> -->
<!-- <app-hooks></app-hooks>-->
<!-- <app-user></app-user> -->
<!-- <app-api></app-api> -->
<!-- <app-pipes></app-pipes> -->
<!-- <app-customvalidation></app-customvalidation> -->
<app-arrayform></app-arrayform>

<!-- input decorator-->
<!--<app-child [item]="data" [obj]="object"></app-child>
<button (click)="updatechild()">Update child component</button> -->
<!-- <app-child [data]="data"></app-child> -->
<!-- <app-child [name]="title"></app-child> -->
<!-- <app-pipes></app-pipes> -->
<!-- <app-child [daaata]="title"></app-child> -->

<!-- output decorator -->
<!-- <app-child (childevent)="msg=$event"></app-child>
<h2>{{msg}}</h2> -->
<!-- <app-child (childdata)="data=$event"></app-child>
<h3>{{data}}</h3> -->
<!-- <app-child (objdata)="sun=$event"></app-child>
<h5>{{sun.name}}</h5>
<h5>{{sun.age}}</h5>
<h5>{{sun.city}}</h5>-->
<!-- <app-child (data)="data=$event"></app-child>
<h3>{{data}}</h3> -->
<!-- <app-child (givedata)="dataa=$event"></app-child>
<p>{{dataa}}</p> -->
<!-- <app-child (studentdata)="studentdata=$event"></app-child>
<h1>{{studentdata}}</h1> -->
<!-- <a routerLink="/home">Go to home component</a> -->
<!-- <app-child (daaata)="data=$event"></app-child>
<h2>{{data}}</h2> -->
<!-- <app-child (ddata)="msg=$event"></app-child>
<h2>{{msg}}</h2> -->
<!-- <app-child (dta)="data=$event"></app-child>
<h1>{{data}}</h1> -->

<!-- lazy loading -->
<!-- <h4 routerLink="lazyload">Lazy loading</h4>
<h4 routerLink="lazyload/list">list</h4>

<a routerLink="lazyloadd">asdfg</a><br>
<a  routerLink="lazyloadd/listt">go to listt</a> -->

<router-outlet></router-outlet>
