<p>databind works!</p>
<!-- property binding -->
<!-- <input type="text" [disabled]="dissablle">
<input type="text" [disabled]="disaabledd">
<input type="text" [value]="namme"> -->
<!-- <input type="text" [disabled]="true">
<input type="text" [disabled]="dissablle"> -->
<!-- <input type="text" [value]="namme"> -->
<!-- <input type="text" [value]="namme">
<input type="text" [disabled]="disable">
<input type="text" [disabled]="dissablle"> -->

<!-- one way binding -->
<!-- <input type="text" value="{{namme}}">
<h1>{{namme}}</h1>
<div>{{namme}}</div> -->


<!-- two way binding -->
 <!-- <input type="text" [(ngModel)]="name">
 <h2>{{name}}</h2> -->
<!-- <input type="text" [(ngModel)]="twoway">
<h1>{{twoway}}</h1> -->
<!-- <input type="text" [(ngModel)]="twowayy">
<h2>{{twowayy}}</h2> -->
<!-- <input type="text" [(ngModel)]="name">
<h2>{{name}}</h2> -->
<input type="text" [(ngModel)]="twoway">
<h2>{{twoway}}</h2>



<!-- event binding -->
<!-- <p (click)="please()">help</p>
<button (click)="login()">login</button> -->
