<p>child works!</p>
<!-- input decorator -->
<!-- <h2>{{obj.name}}</h2>
<h2>{{obj.age}}</h2>
<h2>{{obj.city}}</h2>
<h1>{{item}}</h1> -->
<!-- <h1>{{data}}</h1> -->
<!-- <h4>{{name}}</h4> -->
<h5>{{daaata}}</h5>

<!-- output decorator -->
<!-- <button (click)="fireevent()">Send event</button> -->
<!-- <input type="text" #box>
<button (click)="childdata.emit(box.value)">Update value</button> -->
<!-- <button (click)="objdata.emit(sunil)">send object</button> -->
<!-- <button (click)="data.emit(array)">send data to parent component</button> -->
<!-- <button (click)="dat()">send data to parent</button> -->
<!-- <button (click)="studentdata.emit(array)">send data</button> -->
<!-- <button (click)="daaata.emit(box.value)">send </button>
<input type="text" #box> -->
<!-- <button (click)="ddata.emit(box.value)">send</button>
<input type="text" #box> -->
<button (click)="dta.emit(box.value)">send to parent</button>
<input type="text" #box>
